﻿@model DataAccess.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfCreate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherHostAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherHostAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RaitingChangeHostAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RaitingChangeHostAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BodySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodySize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
