﻿@model IEnumerable<DataAccess.Message>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="form-row">

            <div class="col-md-4 mb-3">
                <input class="form-control" id="myInputHeader" onkeyup="myFunction()" type="text" placeholder="Search Header..">
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" id="myInputBody" onkeyup="myFunction()" type="text" placeholder="Search Body..">
            </div>
            <div class="col-md-4 mb-3">
                <input class="form-control" id="myInputAuthor" onkeyup="myFunction()" type="text" placeholder="Search Author..">
            </div>
            @*<div class="col-md-4 mb-3">
                <input class="form-control" id="myInputDate" onkeyup="myFunction()" type="datetime" placeholder="Search date..">
            </div>*@

        </div>
        <br>
        @using (Html.BeginForm())
        {
            <p>
                Find by Header: @Html.TextBox("SearchHeader")
            </p>
            <p>
                Find by Category: @Html.TextBox("SearchCategory")
            </p>
            <p>
                Find by Author: @Html.TextBox("SearchAuthor")
            </p>
            <form action="/action_page.php">
                Select Period:
                <p>
                    From: <input type="date" name="fromtime">
                </p>
                <p>
                    Till: <input type="date" name="tilltime">
                </p>

                <input type="submit" , value="Search">
            </form>

        }
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Header", "Index", new { sortOrder = ViewBag.HeaderSortParm })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>
                    <th>
                        @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublisherHostAddress)
                    </th>
                    <th>
                        @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParm })
                    </th>
                    <th>
                        <h>Actions you can to do...</h>
                    </th>

                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Header)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeOfCreate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublisherHostAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            </p>
                            <p>
                                @Html.Raw(@Html.ActionLink("[replacetext]", "SetPositiveRating", new { id = item.Id }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/Images/pos.png\" />"))
                                @Html.Raw(@Html.ActionLink("[replacetext]", "SetNegativeRating", new { id = item.Id }).ToHtmlString().Replace("[replacetext]", "<img src=\"/Content/Images/-.png\" />"))
                                @*@Html.ActionLink("+", "SetPositiveRating", new { id = item.Id }) |
                                @Html.ActionLink("-", "SetNegativeRating", new { id = item.Id })*@
                            </p>
                            <p>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </p>
                            <p>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

        <script>

            function myFunction() {

                var input, filter, table, tr, td, i, txtValue, sel;
                input = document.getElementById(document.activeElement.id);

                switch (document.activeElement.id) {
                    case "myInputHeader":
                        sel = 0;
                        break;
                    case "myInputBody":
                        sel = 1;
                        break;
                    case "myInputAuthor":
                        sel = 6;
                        break;
                    default:
                        break;
                }
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[sel];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

</body>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="http://s13.ru/">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
