﻿

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Error!</h1>
        <h2>You cannot to edit or delete this message</h2>
    </hgroup>
</body>

    @Html.ActionLink("Back to List", "Index")

</html>



